.carousel {
	width: 100%;
	height: 440rpx;
}

.super-hot {
	margin-top: 12rpx;
	padding:20rpx;
}

.hot-title-wapper {
	display: flex;
	flex-flow: row;
}

.hot-ico {
	margin-top: 15rpx;
	height: 30rpx;
	width: 30rpx;
}

.hot-title {
	font-size: 20px;
	margin-left: 20rpx;
	font-weight: bold;
}

.hot {
	width: 100%;
	white-space: nowrap;
}

.single-poster {
	display: inline-block;
	margin-left: 20rpx;
}
.poster-wapper {
	display: flex;
	flex-direction: column;
}
.poster {
	width: 200rpx;
	height: 270rpx;
}
.movie-name {
	width: 200rpx;
	margin-top: 10rpx;
	font-size: 14px;
	font-weight: bold;
	
	/* name 超出则省略*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hot-movies {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 20rpx 20rpx 20rpx;
}
.hot-movies-single {
	width: 350rpx;
	height: 220rpx;
	margin-top: 20rpx;
}

/* guess u like */
.guess-u-like {
	display: flex;
	flex-direction: column;
}

.single-like-movie {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30rpx 20rpx;
}

.like-movie {
	width: 180rpx;
	height: 240rpx;
	border-radius: 3%;
}
.like-desc {
	display: flex;
	flex-direction: column;
	width: 340rpx;
}
.like-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.like-info{
	color: #808080;
	font-size: 14px;
}

/* 点赞css */
.movie-oper {
	width: 140upx;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-left: dashed 2px;
	border-left-color: #dbdbda;
}

.praise-ico {
	width: 40upx;
	height: 40upx;
	align-self: center;
}

.praise-me {
	font-size: 14px;
	color: #feab2a;
	align-self: center;
}

.animation-opacity {
	font-weight: bold;
	opacity: 0;
}