.player {
	display: flex;
	justify-content: center;
	background-color: #000000;
}

.movie {
	width: 100%;
	height: 440rpx;
}

.movie-info {
	display: flex;
	flex-direction: row;
	padding: 40rpx 20rpx;
	background-color: #f7f4f9;
}
.cover {
	width: 280rpx;
	height: 380rpx;
}

.movie-desc{
	display: flex;
	flex-direction: column;
	margin-left: 30rpx;
	width: 400rpx;
}

.title {
	font-size: 24px;
}
.basic-info {
	color: darkgray;
	font-size: 13px;
	line-height: 36upx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.score-block {
	background-color: white;
	margin-top: 20upx;
	width: 360upx;
	height: 90upx;
	padding: 20upx;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	/* 追加阴影效果 */
	box-shadow: 3px 2px 10px #dedede;
}
.score-words {
	font-size: 12px;
	color: grey;
}
.score-stars {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.movie-score {
	font-size: 26px;
	font-weight: bold;
	margin-left: 8upx;
	color: #FEAB2A;
	line-height: 60upx;
}
.prise-counts {
	font-size: 12px;
	color: grey;
	line-height: 44upx;
}

/* 剧情介绍 start */
.plots-block {
	background-color: #f7f4f9;
	padding: 20upx 40upx;
}
.plots-title {
	color: #A9A9A9;
	font-size: 14px;
}
.plots-desc {
	margin-top: 10upx;
	font-size: 16px;
}
/* 剧情介绍 end */

.scroll-block {
	background-color: #f7f4f9;
	padding: 20rpx 40rpx;
}

.scroll-list {
	width: 100%;
	white-space: nowrap;
	margin-top: 20rpx;
}
.plot-image {
	width: 220upx;
	height: 320upx;
	margin-right: 10upx;
}

/* 演职人员 end */
.single-actor {
	width: 170upx;
	height: 240upx;
	margin-right: 10upx;
}
.actor-wapper {
	display: inline-block;
}
.actor-name {
	width: 170upx;
	text-align: center;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.actor-role {
	width: 170upx;
	text-align: center;
	font-size: 13px;
	color: #A9A9A9;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 演职人员 end */